/* .flex-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0vw 13vw;
} */
/* .Related-Products-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */
/* .Trial-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vh 13vw;
} */
.trail
{
    width: 20vw;
    margin-bottom: 3vw;
    margin-top: 1vh;
    position: relative;
}
.discount
{
    position: absolute;
    top: 1.5vw;
    left: 1.7vw;
    background-color: white;
    box-shadow: 0px 0px 12px rgb(212, 203, 203);
    border-radius: 6px;
    font-size: 1vw;
    padding: 10px;
    color: brown;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.trail .new
{
    position: absolute;
    top: 1.1vw;
    left: 1.2vw;
    background-color: gray;
    padding: 0.6vw;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1vw;
    letter-spacing: 0px;
    color: #354E57;
    display: none;
}
.trail img
{
    width: 100%;
}
.trail h3
{
    font-size: 1.6vw;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 4vw;
    align-items: center;
}
.trail p
{
    margin-top: 0px;
}
.trail button
{
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #000000;
    padding: 0.5vw;
    font-size: 1.1vw;
    transition: transform 400ms;
}
.trail button:hover
{
    transform: translateY(-4px);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 769px)
{
    /* .Trial-container
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 1vh 5vw;
    } */
    .trail
    {
        width: 27vw;
    }
    .trail button
    {
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #000000;
        padding: 0.5vw;
        font-size: 1.5vw;
        transition: transform 400ms;
        display: flex;
        justify-content: center;
    }
    .trail button:hover
    {
        transform: translateY(-4px);
        cursor: pointer;
    }
    .discount
    {
        font-size: 2vw;
    }
}

@media only screen and (max-width: 768px) and (min-width: 501px)
{
    .trail{
        width: 40vw;
    }
    /* .Trial-container
    {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 2vh 4vw;
    } */
    .Related-container
    {
        margin: 2px 0px 5px 10%;
    }
    .trail button
    {
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #000000;
        padding: 0.8vw;
        font-size: 2vw;
        transition: transform 400ms;
        display: flex;
        justify-content: center;
    }
    .discount
    {
        font-size: 2vw;
    }
}
@media only screen and (max-width: 500px) {
    /* .Trial-container
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    } */
    .trail
    {
        width: 69vw;
    }
    /* .Related-container
    {
        margin: 2px 0px 15px 18vw;
        align-self: center;
    } */
    .trail button
    {
        width: 100%;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #000000;
        padding: 1.3vw;
        font-size: 3.4vw;
        transition: transform 400ms;
        display: flex;
        justify-content: center;
    }
    .discount
    {
        padding: 8px;
        font-size: 2.7vw;
    }
}