.subscribe
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1vw 9vw;
}
.subscribe h1
{
    width: 13vw;
    color: #354e57;
}
.subscribe .flex-1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.subscribe .flex-cont
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 38vw;
}
.subscribe .flex-cont p
{
    width: 20vw;
}
.subscribe .flex-cont h1
{
    font-size: 2vw;
}
.verticle-divider
{
    width: 1px;
    height: 62px;
    background-color: gray;
}
.subscribe .flex-1 button
{
    font-size: 1vw;
    background-color: #547665;
    padding: 0.7vw 1.4vw;
    border: 1px solid #547665;
    color: white;
    transition: 700ms;
}
.subscribe .flex-1 button:hover
{
    border: 1px solid #547665;
    background-color: white;
    color: #547665;
    cursor: pointer;
}
.subscribe .flex-1 input
{
    font-size: 1vw;
    background-color: rgba(255, 0, 0, 0);
    padding: 0.7vw;
    border: 1px solid gray;
    width: 15vw;
}
.foot-note
{
    background-color: #354e57;
    padding: 2vw 8vw;
}
.foot-note h1
{
    font-family: 'Times New Roman', Times, serif;
    color: gold;
    font-size: 3vw;
    display: flex;
    justify-content: flex-start;
}
.footnote-location-info
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
}
.links
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.links .policy
{
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-decoration: none;
}
.links .policy a
{
    color: white;
}
.links .social-media
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 2vw;
    width: 13vw;
}
.social-media svg:hover
{
    cursor: pointer;
    transition: transform 700ms;
    transform: translateY(-4px);
    color: red;
}
.footnote-location-info input
{
    font-size: 1vw;
    background-color: rgba(255, 0, 0, 0);
    padding: 0.8vw;
    border: 1px solid white;
    color: white;
    width: 15vw;
}
.footnote-location-info button
{
    font-size: 1vw;
    background-color: rgba(255, 0, 0, 0);
    padding: 0.8vw 1.4vw;
    border: 1px solid white;
    color: white;
}
.footnote-location-info button:hover
{
    cursor: pointer;
}
.footnote-location-info div form input::placeholder
{
    color: white;
}
.footnote-location-info .map
{
    width: 13vw;
    height: 10vw;
}
.foot-note .rights-reserved
{
    color: white;
}
@media only screen and (max-width: 1024px) and (min-width : 769px)
{
    .subscribe .flex-cont p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .explore-innovative-products p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .get-in-touch p
    {
        font-weight: 700;
        font-size: 1.5vw;
    }
    .footnote-location-info .informations h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .informations p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .more h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .more p
    {
        font-size: 1.5vw;
    }
    .foot-note .rights-reserved
    {
        font-size: 1.5vw;
    }
    .foot-note .links .policy
    {
        font-size: 1.5vw;
    }
    .foot-note .links .policy a
    {
        margin-right: 1vw;
    }
}
@media only screen and (max-width: 768px) and (min-width : 501px)
{
    .subscribe .flex-cont
    {
        width: 48vw;
    }
    .subscribe .flex-cont p
    {
        width: 29vw;
        font-size: 2vw;
    }
    .subscribe .flex-1 input
    {
        padding: 1vw;
    }
    .subscribe .flex-1 button
    {
        padding: auto;
        font-size: 1.5vw;
    }
    .footnote-location-info .explore-innovative-products p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .get-in-touch p
    {
        font-weight: 700;
        font-size: 1.5vw;
    }
    .footnote-location-info .informations h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .informations p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .more h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .more p
    {
        font-size: 1.5vw;
    }
    .foot-note .rights-reserved
    {
        font-size: 1.7vw;
    }
    .foot-note .links .policy
    {
        font-size: 1.7vw;
    }
    .foot-note .links .policy a
    {
        margin-right: 2vw;
    }
}
@media only screen and (max-width: 500px)
{
    .subscribe
    {
        flex-direction: column;
    }
    .subscribe .flex-cont
    {
        width: 100%;
    }
    .subscribe .flex-cont h1
    {
        width: 26vw;
        font-size: 4vw;
    }
    .subscribe .flex-cont p
    {
        width: 45vw;
        font-size: 3.3vw;
    }
    .subscribe .flex-1
    {
        margin-top: 4vw;
        display: flex;
        justify-content: center;
    }
    .subscribe .flex-1 input
    {
        font-size: 3vw;
        width: 40vw;
    }
    .subscribe .flex-1 button
    {
        font-size: 3.2vw;
        font-weight: 500;
    }
    .footnote-location-info .explore-innovative-products p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .get-in-touch p
    {
        font-weight: 700;
        font-size: 1.5vw;
    }
    .footnote-location-info .informations h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .informations p
    {
        font-size: 1.5vw;
    }
    .footnote-location-info .more h3
    {
        margin-top: 1vw;
        font-size: 1.8vw;
    }
    .footnote-location-info .more p
    {
        font-size: 1.5vw;
    }
    .foot-note .rights-reserved
    {
        font-size: 1.7vw;
    }
    .foot-note .links .policy
    {
        font-size: 1.7vw;
    }
    .foot-note .links .policy a
    {
        margin-right: 2vw;
    }
}