.Product-categories
{
    margin: 3vh 8vw 9vh 8vw;
}
.menu
{
    display: flex;
    justify-content: flex-end;
}
.select-menu
{
    padding: 1.4vh 2vw 1.4vh 1.7vw;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: rgba(255, 228, 196, 0);
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
}

.select-menu:focus
{
    border-radius: 0px;
    box-shadow: 0px 0px 25px gray;
}

.menu .select-menu option
{
    background-color: rgba(255, 0, 0, 0);
    transition: all 2s;
}
.menu .select-menu option:hover
{
    background-color: gray;
}

.main-category-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    margin: 2vh 0vw;
}

.left-side-container
{
    width: 17vw;
    /* background-color: antiquewhite; */
}
.right-side-container
{
    width: 64vw;
    /* background-color: aquamarine; */
}
.right-side-flex-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.main-products
{
    margin-top: 2vw;
}
.main-products > :first-child .discount
{
    display: block;
}
.main-products > :first-child
{
    width: 42vw;
}
.main-products > :first-child img
{
    width: 42vw;
    height: 36vw;
}
.main-products
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.other-two-products
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.category-and-items
{
    margin-bottom: 10vh;
}
.category-and-items h2
{
    font-size: 1.6vw;
}
.category-products
{
    margin: 0px 3px 0px 25px;
}
.category-products a
{
    display: block;
    text-decoration: none;
    margin-bottom: 1vw;
    color: black;
    font-size: 1.04vw;
}

@media only screen and (max-width: 1024px) and (min-width : 769px)
{
    .select-menu
    {
        font-size: 1.5vw;
    }
    .main-products > :first-child
    {
        width: 39vw;
    }
    .main-products > :first-child img
    {
        width: 39vw;
        height: 43.5vw;
    }
    .main-products > :nth-child(2) .trail
    {
        width: 23vw;
        /* height: 25vw; */
    }
    .category-products a
    {
        font-size: 1.3vw;
    }
    .category-products
    {
        margin-left: 1.2vw;
    }
}

@media only screen and (max-width: 768px) and (min-width: 501px)
{
    .select-menu
    {
        font-size: 1.8vw;
    }
    .main-products > :first-child
    {
        width: 64vw;
    }
    .main-products > :first-child img
    {
        width: 64vw;
    }
    .main-products > :first-child button
    {
        width: 64vw;
    }
    .other-two-products
    {
        justify-content: space-between;
        flex-direction: row;
    }
    .other-two-products > :first-child
    {
        margin-right: 2vw;
    }
    .other-two-products .trail
    {
        width: 31vw;
    }
    .right-side-flex-container
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .right-side-flex-container .trail
    {
        width: 31vw;
    }
    .category-products a
    {
        font-size: 1.6vw;
    }
    .category-products
    {
        margin-left: 1vw;
    }
    .category-and-items h2
    {
        font-size: 2vw;
    }
}
@media only screen and (max-width: 500px)
{
    .Product-categories
    {
        margin: 3vh 7vw 9vh 3.5vw;
    }
    .category-products
    {
        width: 20vw;
    }
    .select-menu
    {
        font-size: 2.2vw;
    }
    .main-products > :first-child img
    {
        width: 69vw;
        height: 49vw;
    }
    .right-side-flex-container .trail
    {
        width: 69vw;
    }
    .right-side-flex-container .trail img
    {
        width: 69vw;
    }
    .category-products a
    {
        font-size: 2.6vw;
        margin-bottom: 2.5vw;
    }
    .category-products
    {
        margin-left: 1vw;
    }
    .category-and-items h2
    {
        font-size: 3vw;
    }
}