.Product-categories
{
    margin: 3vh 8vw 9vh 8vw;
}
.menu
{
    display: flex;
    justify-content: flex-end;
}
.select-menu
{
    padding: 1.4vh 2vw 1.4vh 1.7vw;
    border-radius: 2px;
    border: 1px solid #000000;
    background-color: rgba(255, 228, 196, 0);
    font-size: 1vw;
    display: flex;
    justify-content: flex-end;
}

.select-menu:focus
{
    border-radius: 0px;
    box-shadow: 0px 0px 25px gray;
}

.menu .select-menu option
{
    background-color: rgba(255, 0, 0, 0);
    transition: all 2s;
}
.menu .select-menu option:hover
{
    background-color: gray;
}

.main-category-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2vh 0vw;
}

.left-side-container
{
    width: 17vw;
    /* background-color: antiquewhite; */
}
.right-side-container
{
    width: 64vw;
    /* background-color: aquamarine; */
}
.right-side-flex-container
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.main-products
{
    margin-top: 2vw;
}
.main-products > :first-child .discount
{
    display: block;
}
.main-products > :first-child
{
    width: 42vw;
}
.main-products > :first-child img
{
    width: 42vw;
    height: 36vw;
}
.main-products
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.other-two-products
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
/*.right-side-flex-container > :first-child
{
    width: 42vw;
    /* height: 80vh; 
}
.right-side-flex-container > :first-child img
{
    width: 42vw;
    /* height: 50vw; 
}
.right-side-flex-container > :nth-child(2) 
{
    background-color: antiquewhite;
}*/
.category-and-items
{
    margin-bottom: 10vh;
}
.category-and-items h2
{
    margin: 0%;
    font-size: 1.6vw;
}
.category-and-items p
{
    font-size: 1.04vw;
}
.category-products
{
    margin: 0px 3px 0px 25px;
}