
.home-div
{
    background-image: url('/public/BC-03.png');
    background-repeat: repeat;
    background-size: 100%;
}
.soln-for-all-skin
{
    text-align: center;
    background-color: #A7C6B3;
    padding: 1vw;
    margin-top: -0.55vw;
}
.soln-for-all-skin h1
{
    color: #354E57;
    margin-bottom: 0vw;
}
.soln-for-all-skin p
{
    color: white;
}
/* .home-most-popular-container
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0vw 8vw;
} */
.video-ad
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: white;
}
.video-ad .react-player
{
    background-color: black;
}
.video-ad-text-content
{
    width: 50%;
    background-color: #547665;
    position: relative;
}
.video-ad-text-content div
{
    position: absolute;
    top: 9vw;
    left: 7vw;
}
.video-ad-text-content div h1
{
    width: 20vw;
}
.video-ad-text-content div p
{
    width: 30vw;
}
.video-ad .video-ad-text-content button
{
    color: white;
    border: 1px solid white;
    padding: 10px;
    background-color: #53766500;
    width: 15vw;
    font-size: 1.1vw;
    margin-top: 2em;
    transition: transform 500ms;
}
.video-ad .video-ad-text-content button:hover
{
    transform: translateY(-4px);
    cursor: pointer;
}
/* .home-most-popular-container .trail
{
    width: 20vw;
}
.home-most-popular-container img
{
    height: 22vw;
    width: 100%;
} */
.insta
{
    text-align: center;
}
.insta img
{
    margin-left: auto;
    margin-right: auto;
    width: 4vw;
}
.insta-handles-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1vw 13vw;
}
.any-Insta
{
    height: 250px;
    width: 250px;
    background-color: #547665;
    margin-bottom: 25px;
}
.frequent-ask-que
{
    margin: 0px 20vw;
    background-color: rgba(255, 0, 0, 0);
}
.slide-hero
{
    padding: 200px;
    width: 100%;
}
.row-title
{
    transition: 300ms;
}
.row-title .row-title-text
{
    padding: 1px 20px;
}
.frequent-ask-que .faq-row-wrapper .faq-body .faq-row .row-content
{
    padding: 1px 20px;
}
.row-title:hover
{
    background-color: #547665;
}
.row-title:hover .row-title-text
{
    color: white;
}