
.home-div
{
    background-image: url('/public/BC-03.png');
    background-repeat: repeat;
    background-size: 100%;
    overflow: hidden;
}
.soln-for-all-skin
{
    text-align: center;
    background-color: #A7C6B3;
    padding: 1vw;
    margin-top: -0.55vw;
}
.soln-for-all-skin h1
{
    color: #354E57;
    margin-bottom: 0vw;
}
.soln-for-all-skin p
{
    color: white;
}
.company-info-container
{
    display:  flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2vw 10vw;
}
.first-company-info-card div p
{
    font-weight: bold;
}
.company-info
{
    background-color: white;
    padding: 1vw 3vw;
    margin-bottom: 3vw;
    width: 38vw;
}
.company-info div
{
    margin-bottom: 1.5vw;
}
.company-info div p
{
    font-size: 1.1vw;
    margin-bottom: 0%;
}
/* .home-most-popular-container
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0vw 8vw;
} */

/* .home-most-popular-container .trail
{
    width: 20vw;
}
.home-most-popular-container img
{
    height: 22vw;
    width: 100%;
} */
@media only screen and (max-width: 768px)
{
    .soln-for-all-skin
    {
        text-align: center;
        background-color: #A7C6B3;
        padding: 0.7vw;
        margin-top: -0.7vw;
    }
    .soln-for-all-skin h1
    {
        color: #354E57;
        margin-bottom: 0vw;
        font-size: 3.4vw;
    }
    .soln-for-all-skin p
    {
        color: white;
        font-size: 1.8vw;
    }
    .company-info div p
    {
        font-size: 1.7vw;
    }
    .company-info div a
    {
        font-size: 1.7vw;
    }
}
@media only screen and (max-width: 500px)
{
    .company-info
    {
        /* background-image: linear-gradient(white,rgba(22, 231, 162, 0.473)); */
        width: 80vw;
        padding: 5vw;
    }
    .company-info div p
    {
        font-size: 2.2vw;
    }
    .company-info div a
    {
        font-size: 2.2vw;
    }
}
@media only screen and (max-width: 376px)
{
    .company-info div
    {
        margin-bottom: 3vw;
    }
    .company-info div p
    {
        font-size: 2.6vw;
        margin: 0px;
    }
}