.home-main-poster
{
    background-color: rgba(127, 255, 212, 0);
    position: relative;
    margin: 0vw 4vw;
    /* padding-top: 2vw; */
    transform: scale(1.4,1.4);
}
.home-main-poser-container
{
    margin-bottom: 0vw;
}
.home-main-poser-container .slick-track
{
    padding-top: 0vw;
}
.slick-slide:first-child {
    z-index: 10;
}
.slick-dots
{
    position: absolute;
    bottom: 2vw;
    left: -34.7vw;
}
.slick-dots li
{
    width: 5vw;
    height: 0.4vw;
    background-color: rgba(128, 128, 128, 0.301);
    margin-right: 1vw;
    transition: background-color 1s;
}
.slick-dots .slick-active
{
    background-color: #547665;
}
.home-main-poster .home-main-poster-text-content
{
    position: absolute;
    top: 7vw;
    left: 5vw;
}
.home-main-poster .home-main-poster-text-content h1
{
    font-size: 2.6vw;
    width: 20vw;
    color: #354E57;
}
.home-main-poster .home-main-poster-text-content button
{
    background-color: white;
    padding: 0.7vw;
    border: 1px solid black;
    width: 14vw;
}
.home-main-poster .home-main-poster-text-content button:hover
{
    cursor: pointer;
}
.home-main-poster .home-main-poster-text-content p
{
    color: gray;
    width: 25vw;
}
.home-main-poster .home-poster-img
{
    display: flex;
    justify-content: flex-end;
}
.home-main-poster .home-poster-img img
{
    width: 47vw;
    height: 37vw;
    margin-right: 9vw;
}
@media only screen and (max-width: 910px)
{
    .home-main-poster .home-main-poster-text-content p
    {
        width: 42vw;
    }
}