.testimonials-container
{
    margin: 1vw 16vw;
}
.testimonials-container h2
{
    text-align: center;
}
.testimonials-container .slick-track
{
    padding-top: 7vw;
}
.testimonials-container .slick-slide
{
    transform: scale(0.7,0.7);
    transition: all 1500ms;
    opacity: 0.7;
}
.slick-center
{
    transform: scale(1,1);
    transition: all 1500ms;
    /* background-color: orangered; */
    opacity: 1;
    overflow: visible;
}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 3vw;
    line-height: 1;
    opacity: .75;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.testimonials-container .slick-prev {
    left: -45px;
}
@media only screen and (max-width: 768px)
{
    .testimonials-container .slick-track
    {
        padding-top: 10vw;
    }
    .slick-prev,.slick-next
    {
        display: none;
    }
    .testimonials-container h2
    {
        font-size: 3vw;
        text-align: center;
    }
    .testimonials-container .customer-review h2
    {
        font-size: 4.6vw;
        text-align: center;
    }
    .testimonials-container .customer-review p
    {
        font-size: 2.8vw;
    }
}