.home-top-rated-container
{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0vw 8vw;
}
.home-top-rated-container .trail
{
    width: 20vw;
}
.home-top-rated-container img
{
    height: 22vw;
    width: 100%;
}
.top-rated
{
    display: flex;
    justify-content: space-between;
    margin: 0vw 8vw;
}
.top-rated p
{
    font-size: 1.17vw;
    font-weight: 600;
}
@media only screen and (max-width: 1024px)
{
    .home-top-rated-container .trail h3
    {
        font-size: 1.6vw;
    }
    .home-top-rated-container .trail p
    {
        font-size: 1.3vw;
    }
}
@media only screen and (max-width: 768px)
{
    .top-rated p
    {
        font-size: 2vw;
    }
    .home-top-rated-container .trail h3
    {
        font-size: 2vw;
    }
    .home-top-rated-container .trail
    {
        width: 40vw;
    }
}
@media only screen and (max-width: 426px)
{
    .home-top-rated-container .trail
    {
        width: 90vw;
    }
    .home-top-rated-container .trail img
    {
        height: 40vw;
    }
    .home-top-rated-container .trail h3
    {
        font-size: 3.4vw;
    }
    .home-top-rated-container .trail p
    {
        font-size: 2.5vw;
    }
    .home-top-rated-container .trail .new
    {
        font-size: 2.5vw;
        padding: 1.6vw;
        top: 2vw;
        left: 2vw;
    }
    .top-rated p
    {
        font-size: 3vw;
    }
}